<div class="text-center pb-4 mb-3 border-bottom">
  <h2>ユーザー詳細</h2>
</div>

<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
      <div class="card-body">
      <h5>ユーザー名</h5>
      <p><%= @user.name %></p>
      <h5>メールアドレス</h5>
      <p><%= @user.email %></p>
      </div>
    </div>
    <div class=text-center>
      <% if @user == current_user %>
      <%= link_to 'ユーザー情報編集', edit_user_path(current_user), class: "text-dark border-bottom" %>
      <% end %>
    </div>
  </aside>
  <div class="col-sm-8">
    <p>
      <%= @user.name %>のObjective一覧
      <span class="badge badge-secondary"><%= @count_ambitions %></span>
    </p>
    <%= render 'ambitions/index', ambitions: @ambitions %>
  </div>
</div>