
<%= form_with(model: ambition, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<div class="row">
  <div class="col-sm-4">
    <p>期間</p>
  </div>
  <div class="col-sm-8">
    <div class="form-group">
      <%= f.label :start_date, '開始日' %>
      <%= f.date_select :start_date, use_month_numbers: true, start_year:Time.now.year-1, end_year:Time.now.year+10 %>
    </div>
    <div class="form-group">
      <%= f.label :end_date, '終了日' %>
      <%= f.date_select :end_date, use_month_numbers: true, start_year:Time.now.year-1, end_year:Time.now.year+10 %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <p>Objective</p>
  </div>
  <div class="col-sm-8 form-group">
    <%= f.text_area :content, class: 'form-control', rows: 6 %>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-4">
    <%= f.submit '保存', class: 'btn btn-primary btn-block' %>
  </div>
</div>
<% end %>