<div class="text-center pb-4 mb-3 border-bottom">
  <h2>OKR詳細</h2>
</div>

<div>
  ・Ovjective内容
</div>
<div>
  <%= @ambition.content %>
</div>
<div class="row border-bottom justify-content-end mb-2">
  <div class="col-2">
    <%= link_to '編集', edit_ambition_path, class: 'd-inline-block' %>
  </div>
  <div class="col-2">
    <%= link_to '削除', ambition_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'd-inline-block' %>
  </div>
</div>

<table class="table mb-5">
  <tr>
    <td>
      開始日
    </td>
    <td>
    </td>
    <td>
      終了日
    </td>
  </tr>
  <tr>
    <td>
      <%= @ambition.start_date %>
    </td>
    <td>
      〜
    </td>
    <td>
      <%= @ambition.end_date %>
    </td>
  </tr>
</table>

<div>
  <%= render '/key_results/index', ambition: @ambition %>
</div>

<div class="row justify-content-center mb-5">
  <div class="col-4">
   <%= link_to 'Key_Resultを追加', "/ambitions/#{@ambition.id}/key_results/new", class: "btn btn-primary btn-block" %>
  </div>
</div>

